<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>custom queues</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles.css') }}">
</head>
<script defer>
    function queue(id) {
        fetch(`/songqueue?id=${encodeURI(id)}`)
        .then(response => response.text())
                .then(data => {
                    document.getElementById('response').innerText = data;
                })
                .catch(error => console.error('Error:', error));
    }
    function sendSongToFlask() {
        const songName = document.getElementById('songInput').value;
        fetch(`/songsearch?song=${encodeURIComponent(songName)}`)
            .then(response => response.text())
            .then(data => {
                document.getElementById('response').innerText = data;
                queue(data);
            })
            .catch(error => console.error('Error:', error));
               
        }

    
       
</script>

<body>
    <table>
        <tr>
            <th><a href="/" class="tablebutton">Home</a></th>
            <th><a href="/activity" class="tablebutton">currently playing</a></th>
            <th><a href="/top_songs" class="tablebutton">top songs</a></th>
            <th><a href="/top_artists" class="tablebutton">top artists</a></th>
            <th><a href="/genre" class="tablebutton">Genres</a></th>
            <th><a href="/playlists" class="tablebutton">Your Playlists</a></th>
            <th><a href="/queue" class="tablebutton">Queue Songs</a></th>
        </tr>
    </table>

    <input type="text" id="songInput" placeholder="Enter song name">
    <button onclick="sendSongToFlask()">Submit Song</button>
    <div id="response"></div>

<script>
    const inputfield = document.getElementById("songInput");
    inputfield.addEventListener("keydown", (event) => {
        if(event.key === "Enter"){
            //inputField.value = ""; still dont work 
            sendSongToFlask();
        }
    });
</script>


</body>
    
